<div class="container">
    <h2 class="title">{{ this.isEditForm ? 'Editar Pedido' : 'Criar Pedido' }}</h2>
    <hr>
    <form class="form" (ngSubmit)="onSubmit()" #orderForm="ngForm">
        <mat-form-field class="form-row">
            <mat-label>Fornecedor</mat-label>
            <mat-select [(ngModel)]="order.providerId" name="provider" required>
                <mat-option *ngFor="let provider of providers" [value]="provider.id">{{ provider.name }}</mat-option>
            </mat-select>
        </mat-form-field>

        <hr>

        <h3>Produtos</h3>
        <div *ngFor="let orderItem of order.orderItems; let i = index" class="form-row">
            <mat-form-field style="width: 100%;">
                <mat-label>Produto</mat-label>
                <mat-select [(ngModel)]="orderItem.productId" name="product{{i}}" required>
                    <mat-option 
                        *ngFor="let product of availableProducts" 
                        [value]="product.id"
                        required>
                        {{ product.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field style="width: 250px;">
                <mat-label>Quantidade</mat-label>
                <input matInput 
                    type="number" 
                    class="form-control" 
                    [id]="'quantity' + i" 
                    name="quantity{{i}}"
                    min="1"                
                    [(ngModel)]="orderItem.quantity" 
                    required>
            </mat-form-field>
            <button mat-icon-button class="delete-product-btn" color="warn" [disabled]="order.orderItems.length == 1" (click)="onRemoveOrderItem(i)">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <button 
            mat-raised-button class="add-product-btn" 
            type="button" 
            [disabled]="availableProducts.length == 0"
            (click)="onAddOrderItem()">
            Adicionar Produto
        </button>
        <div class="form-row total">
            <span>Total</span>
            <span style="font-weight: bold;">{{ getOrderTotal() | currency }}</span>
        </div>    

        <hr style="margin-bottom: 30px;">
        
        <mat-form-field class="form-row">  
            <mat-label for="comments">Observações</mat-label>    
            <textarea matInput class="form-control" id="comments" name="comments" [(ngModel)]="order.comments"></textarea>
          </mat-form-field>
        <button 
            mat-flat-button 
            class="submit-btn" 
            color="primary" 
            type="submit" 
            [disabled]="!orderForm.valid">
            {{ this.isEditForm ? 'Atualizar ' : 'Criar ' }} Pedido
        </button>
    </form>
</div>
