header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
    background-color: rgb(63,81,181);
    color: rgb(245,245,245);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
  
.logo {    
    display: flex;
    cursor: pointer;
    
    h2 {
        margin: 0;
    }

    mat-icon {
        transform: scale(1.5);
        margin-right: 12px;
    }
}
  
.buttons button {
    margin: 0 30px;
    font-size: larger;
    font-weight: 500;
    color: rgb(245,245,245);
}

.welcome-msg {
    font-size: large;
}

.logout-btn {
    font-weight: 500;
    cursor: pointer;
}

.logout-btn:hover {
    color: blue;
}
  