<div class="login-container">
    <mat-card class="login-form">
        <h2>Login</h2>
        <form (ngSubmit)="login()" #loginForm="ngForm">
            <mat-form-field class="form-row">
                <mat-label for="username">Usuario</mat-label>
                <input matInput
                    class="form-control"
                    type="text" 
                    id="username" 
                    name="username" 
                    [(ngModel)]="username" 
                    required>
            </mat-form-field>
            <mat-form-field class="form-row">
                <mat-label for="password">Senha</mat-label>
                <input matInput
                    class="form-control"
                    type="password" 
                    id="password" 
                    name="password" 
                    [(ngModel)]="password" 
                    required>
            </mat-form-field>
            <button mat-flat-button 
                class="submit-btn" 
                color="primary"
                [disabled]="!loginForm.valid">
                Login
            </button>
            Não tem uma conta? <span class="register-link" routerLink="/register">Cadastre-se</span>
        </form>
    </mat-card>  
</div>
