<mat-card class="card">
    <div class="card-header">
        <h2>{{ product.name }}</h2>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Ações">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item [disabled]="!product.isActive" (click)="openProductFormDialog()">
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
            </button>
            <button mat-menu-item (click)="product.isActive ? openDeleteConfirmationDialog() : openReactivateConfirmationDialog()">
                <mat-icon>{{ product.isActive ? 'delete' : 'restore_from_trash' }}</mat-icon>
                <span>{{ product.isActive ? 'Eliminar' : 'Reativar' }}</span>
            </button>
        </mat-menu>
    </div>
    <hr style="width: 100%;">
    <div class="bottom-row">
        <span class="state" [style.background-color]="product.isActive ? '#C0F8B4' : '#F6F8B4'">{{ product.isActive ? 'Ativo' : 'Inativo' }}</span>
        <span class="price">{{ product.price | currency }}</span>
    </div>
</mat-card>
