.container {
    padding: 20px;
}

.form {
    margin-top: 20px;
}

.form-row {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.submit-btn {
    width: 100%;
    margin-top: 10px;
}
